.card {
    max-width: 2000px;
    min-width: 800px;
    margin-bottom: 15px;
}
.card-header {
    align-items: left;
    align-content: left;
    align: left;
}
.card-title {
    font-size: 50%;
    font-weight: bolder;
}
.card-text {
    max-width: 800px;
}
.blockquote-footer {
    padding-right: 20px;
    font-size: 15%;
}
.button-row {
    margin-left: 10px;
    margin-bottom: 10px;
}

.blog-content-ta {
    min-width: 1040px;
    text-align: left;
}
.button-col {
    margin-right: 5px;
}
.btn-primary {
    margin-right: 15px;

    margin-left: 10px;
    max-width: 150px;
}
