.card {
    max-width: 2000px;
    min-width: 800px;
    margin-bottom: 15px;
}
.card-header {
    align-items: left;
    align-content: left;
    align: left;
}
.card-title {
    font-size: 50%;
    font-weight: bolder;
}
.blockquote-footer {
    padding-right: 20px;
    font-size: 15%;
}
.container {
    margin-top: 50px;
}
