.btn {
    align-items: center;
    margin-left: 35%;
    margin-bottom: 25px;
}
.btn-warning {
    margin-top: 25px;
    width: 100%;
}
.btn-info {
    width: 100%;
}
.row-cols-md-3 {
    align-items: center;
}

.container {
    margin-top: 15px;
}
.register-text {
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}
.column {
    padding-left: 250px;
    padding-right: 250px;
}
