<form [formGroup]="registerForm" class="form-container">
    <div>
        <div class="form-group">
            <div class="container">
                <div class="card">
                    <div class="column">
                        <div class="row register-text">
                            <b>
                                Register
                            </b>
                        </div>
                        <div class="row"> <div class="name-input">
                                <input
                                    ngModel="{{registerForm.value.name}}"
                                    formControlName="name"
                                    id="name"
                                    type="text"
                                    placeholder="Enter Name"
                                    class="form-control">
                                <div *ngIf="f.name.touched && f.name.invalid"
                                    class="alert
                                    alert-danger">
                                    <div *ngIf="f.name.errors?.required">Name is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> <div class="age-input"><br>
                                <input
                                    ngModel="{{registerForm.value.age}}"
                                    formControlName="age"
                                    id="age"
                                    placeholder="Enter Age"
                                    type="number"
                                    class="form-control">
                                <div *ngIf="f.age.touched && f.age.invalid"
                                    class="alert
                                    alert-danger">
                                    <div *ngIf="f.age.errors?.required">Age is
                                        required
                                    </div>
                                    <div *ngIf="f.age.errors?.min">Age must be
                                        at
                                        least 18
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> <div class="username-input"><br>
                                <input
                                    ngModel="{{registerForm.value.username}}"
                                    formControlName="username"
                                    id="username"
                                    placeholder="Enter Username"
                                    type="text"
                                    class="form-control">
                                <div *ngIf="f.username.touched &&
                                    f.username.invalid"
                                    class="alert
                                    alert-danger">
                                    <div *ngIf="f.username.errors?.required">Username
                                        is required
                                    </div>
                                    <div *ngIf="f.username.errors?.minlength">Username
                                        must be at
                                        least 8 characters
                                    </div>
                                    <div
                                        *ngIf="f.username.errors?.cannotContainSpace">Username
                                        cannot contain space
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> <div class="password-input"><br>
                                <input
                                    ngModel="{{registerForm.value.password}}"
                                    formControlName="password"
                                    id="password"
                                    placeholder="Enter Password"
                                    type="password"
                                    class="form-control">
                                <div *ngIf="f.password.touched &&
                                    f.password.invalid"
                                    class="alert
                                    alert-danger">
                                    <div *ngIf="f.password.errors?.required">
                                        Password is required
                                    </div>
                                    <div *ngIf="f.password.errors?.minlength">
                                        Password must be at least 8 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-cols-md-3">
                            <div class="col-md-3">
                                <button class="btn btn-warning"
                                    type="submit"
                                    (click)="submit()"
                                    [disabled]="!registerForm.valid">Register
                                </button>
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn-info"
                                    (click)="goToLogin()">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<router-outlet></router-outlet>